
<div  class="wrapper">
    <span class="titre-app">Déclarations Correctives</span>
    <div class="input-container">
        <form (ngSubmit)="login()">
        <span class="text-login">Connexion</span>
        <input pInputText name="matricule" [(ngModel)]="matricule" type="text" class="ng-dirty input-field matricule " placeholder="Matricule">
        <input pInputText name="motdepasse" [(ngModel)]="motdepasse" type="password" class="ng-dirty input-field mdp " placeholder="Mot de passe" />
        <button type="submit" class="button-login">Se Connecter</button>
        </form>
        <img src="../../../assets/images/sga-logo.png" alt="SGA LOGO" class="logo">

    </div>  
</div>
<p-toast></p-toast>

 