        <div class="num-contrat">
            <span>Crédit : <span> {{numContratValue}} </span> </span>
        </div>


    <p-button label="Sauvegarder" class="btn-sauv sauv" icon="pi pi-save" iconPos="right" ></p-button>

    <div class="form-container">
        <div class="form-groups">
            <span class="titre-categories">Catégories</span>
            <hr class="ligne-h-100">
            <p-menu [model]="items" class="menu-list">
                <ng-template let-item pTemplate="item">
                    <div 
                        class="menu-item" 
                        [ngClass]="{'selected': selectedGroup === item.label}" 
                        (click)="selectGroup(item.label)">
                        {{ item.label }}
                    </div>
                </ng-template>
            </p-menu>
                    </div>

        <div class="form-inputs">
            <app-form-inputs-credit 
                [formGroup]="formGroup" 
                [fields]="selectedFields">
            </app-form-inputs-credit>
        </div>
    </div>
