.home-container{
    margin-top:5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.options-container {
    width: 91%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px 0;
}

.options-container app-searchbar,
.options-container .titre-page,
.options-container p-button {
    flex-grow: 1; 
    text-align: center;
}
.options-container app-searchbar {
    text-align: left;
    max-width: 150px; 
}

.options-container p-button {
    text-align: left;
    max-width: 210px;
}


.table-reporting-container{
    width: 91%;
    overflow-x: auto; 

}

::ng-deep .options-container .p-button {
background-color: #FF2D30 !important;
color: white !important;
width: 170px !important;
font-size: 12px !important;
border-color: #FF2D30 !important;

}
.titre-page{
font-size: 48px;
font-family: "ADLaM Display",serif;
text-align: center;
color: #FF2D30;
font-weight: 500;
}
::ng-deep app-searchbar input {
    background-color: #ccc !important; 
    color:black !important;
    width: 200px !important;  
    height: 50px !important; 
    padding: 5px 10px !important; 
    font-size: 14px !important; 
    border-radius: 8px !important;
    border: 1px solid #ccc !important;
}
