
<p-table  
    [value]="data"
    [paginator]="true" 
    stripedRows 
    [rowHover]="true"
    [scrollable]="true"
    [resizableColumns]="true" 
    styleClass="p-datatable-gridlines"
    [rows]="4"
    [tableStyle]="computedStyle"
    [scrollHeight]="'auto'"
    [autoLayout]="true"  
>

    <ng-template pTemplate="header">
        <tr>
            <th pFrozenColumn *ngIf="getRoute()=='/liste-credits'" class="frozen-col"  style="text-align:left;">
                <p-tableHeaderCheckbox />
            </th>

            <th pFrozenColumn *ngIf="getRoute()=='/liste-credits'" pResizableColumn class="frozen-col" [pSortableColumn]="cols[0]?.field"
            >
                <div>
                    {{ cols[0]?.header }}
                    <p-sortIcon [field]="cols[0]?.field" />
                    <p-columnFilter [type]="cols[0]?.date ? 'date' : 'text'" [field]="cols[0]?.field" display="menu" />
                </div>
            </th>

            <th pResizableColumn *ngFor="let col of cols.slice(source === 'reporting' ? 1 : 0)"
                [pSortableColumn]="col.field">
                <div>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field" />
                    <p-columnFilter [type]="col.date ? 'date' : 'text'" [field]="col.field" display="menu" />
                </div>
            </th>

            <th pFrozenColumn *ngIf="srs.afficherActions$ | async" class="frozen-actions frozen-col" >
               Actions
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td pFrozenColumn *ngIf="source === 'reporting'" class="frozen-col" style="background-color:#e2e2e2;text-align:left;" >
                <p-tableCheckbox [value]="rowData" />
            </td>

            <td pFrozenColumn *ngIf="source === 'reporting'" class="frozen-col" style="background-color:#e2e2e2;">
                {{ rowData[cols[0]?.field] }}
            </td>

            <td *ngFor="let col of cols.slice(source === 'reporting' ? 1 : 0)">
                <ng-container *ngIf="col.field === 'statut' && source !== 'reporting'; else normalCell">
                    <p-badge [value]="rowData[col.field]" [severity]="getBadgeSeverity(rowData[col.field])"></p-badge>
                </ng-container>
                <ng-template #normalCell>
                    {{ rowData[col.field] }}
                </ng-template>
            </td>

            <td pFrozenColumn *ngIf="srs.afficherActions$ | async" class="frozen-actions frozen-col" style="background-color: #ffffff;text-align:right;min-width: 120px;">
                <p-button icon="pi pi-pencil" ></p-button>
                <p-button icon="pi pi-trash" severity="danger" ></p-button>
            </td>
            
        </tr>
    </ng-template>
</p-table>
