::ng-deep .p-paginator {
    width: auto !important; 
    max-width: 40%; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    background-color: #FF2D30  !important;
    color:#000000; 
  }
  ::ng-deep .p-datatable{
    border-radius: 30px !important;
  }
  ::ng-deep .p-datatable .p-datatable-thead>tr{
    margin: 10px 20px;
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #FF2D30 !important; 
    color: rgb(255, 255, 255) !important; 
    font-weight: bold !important; 
    text-align: left; 
    padding: 10px 20px !important; 
  }
  
    
    ::ng-deep .p-datatable .p-datatable-tbody > tr{
      background-color: white !important;  
      color: black !important;
        
    }
    ::ng-deep .p-datatable .p-datatable-tbody > tr > td .p-button  {
        width: 30px !important;
        height: 30px !important; 
        padding: 5px !important; 
        margin-right: 8px !important;

    }
          
    .p-datatable .p-datatable-tbody > tr .p-button:hover {
        background-color: #FF2D30 !important;
        color: white;
    }
    ::ng-deep .p-table-header-checkbox{
      background-color: white;
    }
    
  