html, body {
    overflow-x: hidden; /* Prevents horizontal scrolling on the entire page */
    max-width: 100vw; /* Ensures no element forces the page width beyond the viewport */
  }

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100vw;
}
