
.home-content{
    text-align: center;
}


/* cartes */
.card-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: end;
}
.titre{
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 0 1.5rem;
  }

  /* @media (max-width: 1024px) {
    .cards-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: repeat(1, 1fr);
    }
  } */
  ::ng-deep .p-card-header{
    margin-top: 10px;
  }
  .card {
    text-align: center;
    transition: box-shadow 0.3s ease;
    border-color: transparent;
    padding: 1rem;
  }
  .card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .card-title {
    font-size: 1.25rem;
    
  }
  .card-description {
    color: #6b7280;
  }
  .card-button {
    margin-top: 0.5rem;
    background-color: #FF2D30;
    color: #ffffff;
    border-color: transparent;
  }
  .icon-excel {
    font-size: 2rem;
    color: #f97316;
  }
  .icon-credits {
    font-size: 2rem;
    color: #10b981;
  }
  .icon-ba {
    font-size: 2rem;
    color: #3b82f6;
  }
  .icon-habilitations {
    font-size: 2rem;
    color: #8b5cf6;
  }
  .role {
    margin-bottom: 10px; /* Reduce spacing */
  }
  
  .stats-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 15px;
    margin-bottom: 2px;   
  }
  
  .stat-card {
    flex: 1;
    text-align: center;
    background: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .stat-card .icon {
    font-size: 24px;
    color: #d32f2f;
  }
  
  .stat-value {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  .recent-activity h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .recent-activity ul {
    list-style: none;
    padding: 0;
  }
  
  .recent-activity li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .recent-activity i {
    margin-right: 5px;
    color: #d32f2f;
  }
  .recent-activity{
    margin-top: 50px;
  }
  