<app-header></app-header>
<div class="home-container">
    <div class="home-content">
        <div class="bienvenue">
            <span>Bienvenue Anis</span>
        </div>
        <div class="matricule">
            <span>Matricule : {{this.matricule}}</span>
        </div>
        <button
        class="button-pdf"
        (click)="openPdf()"
        >
        Guide d'utilisation
        </button>
        <div class="cards-container">
            <p-card class="card">
              <ng-template pTemplate="header">
                <i class="pi pi-file icon-excel"></i>
              </ng-template>
              <h2 class="card-title">Fichiers Excel</h2>
              <p class="card-description">Consultez les fichiers .xlsx traités  </p>
              <button pButton label="Liste des fichiers Excel" class="card-button"></button>
            </p-card>
          
            <p-card class="card">
              <ng-template pTemplate="header">
                <i class="pi pi-list icon-credits"></i>
              </ng-template>
              <h2 class="card-title">Crédits</h2>
              <p class="card-description">Consultez les crédits existants</p>
              <br>
              <button pButton label="Liste des crédits" class="card-button"></button>
            </p-card>
          
            <p-card class="card">
              <ng-template pTemplate="header">
                <i class="pi pi-copy icon-ba"></i>
              </ng-template>
              <h2 class="card-title">Déclarations BA</h2>
              <p class="card-description">Consultez les fichiers .xml générés .</p>
              <button pButton label="Liste des fichiers XML" class="card-button"></button>
            </p-card>
          
            <p-card class="card">
              <ng-template pTemplate="header">
                <i class="pi pi-cog icon-habilitations"></i>
              </ng-template>
              <h2 class="card-title">Habilitations</h2>
              <p class="card-description">Consultez les utilisateurs de cette application.</p>
              <button pButton label="Liste des utilisateurs" class="card-button"></button>
            </p-card>
          </div>
          
         
          
          
         
        

    </div>
</div>